{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
<h1>{{ university.name }}</h1>

<h2>Описание</h2>
{% if university.rating %}
    <p><b>Рейтинг</b>: {{ university.rating }}</p>
{% else %}
    <p><b>Рейтинг</b> пока не определён</p>
{% endif %}

{% autoescape off %}
    <p>{{ university.description }}</p>
{% endautoescape %}

<a href="{{ university.wikipage_url }}" target="_blank">Страница на Википедии</a>

<p>#здесь должно быть выпадающее меню для выбора факультета</p>
<p>#здесь краткая информация по факультету</p>

<h2>Отзывы</h2>
{% if feedbacks %}
    {% for feedback in feedbacks %}
        <div>
            <b>{{ feedback.user }}</b> | Оценка: {{ feedback.rate }} | {{ feedback.time_created|date:"H:i j E" }}
            <p>{{ feedback.body }}</p>
        </div>
    {% endfor %}
{% else %}
    <p>Пока нет отзывов</p>
{% endif %}

{% if user.is_authenticated %}
<h3>Написать свой отзыв:</h3>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Отправить">
</form>
{% else %}
    <h3><a href="{% url 'login'  university.get_absolute_url|urlencode:''  %}">Войдите</a>, чтобы оставить свой отзыв.</h3>
{% endif %}


{% endblock %}